.banner {
	width:100%;
	height:600px;
	background-image: url("/date/resources/images/marry2.jpg");
	background-size: cover;
  	background-position: center;
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	 animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	font-size:30px;
	color:#FA9BDE;
	font-weight:800;
	padding-top:160px;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


